@charset "ISO-8859-1";
@charset "ISO-8859-1";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display:run-in;
    align-items:flex-start;
    padding: 20px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style:disc;
}
nav ul li
{
    display: inline-block;
    margin-right:20px;
    
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: #804000;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration:inherit;
    color:blue;
    font-size: 60px;
    font-family:cursive;
     
}

span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
